@media (min-width:320px) and (max-width:575.99px) {

/* =======================================================
                        1.nav and bnner start
========================================================== */
    .banner {
        padding-top: 122px;
        padding-bottom: 30px;
        z-index: -2;
    }

    .banner .banner-left h1 {
        font-size: 32px;
        width: auto;
    }

    .banner .banner-left .round-left-circle {
        z-index: -1;
    }
    .responsive-display {
        display: none;
    }
    .navbar-toggler {
        color: #fff;
    }
    .navbar {
        --bs-navbar-toggler-border-color: #fff;
    }

    .navbar-collapse {
        background: #52C5B6;
        padding: 20px;
    }

    nav .navbar-collapse .btn-login {
        padding-left: 0;
    }

    nav .navbar-collapse .btn-free {
        margin-left: 0px;
    }

    .banner .banner-left > p {
        font-size: 16px;
        width: auto;
        margin-bottom: 20px;
    }

    .banner .banner-left .get-btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-bottom: 30px;
    }

    .banner .banner-left .commiunity-para {
        font-size: 14px;
    }

    .banner .banner-left .commiunity-para .signin-btn {
        font-size: 14px;
    }

    .banner .banner-left .commiunity-para .signin-btn img {
        bottom: 24px;
        left: 12px;
        width: 90%;
    }

    .banner .banner-left .commiunity-para {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 30px;
    }
/* =======================================================
                        1.nav and bnner end
========================================================== */



/* =======================================================
                        2.about start
========================================================== */

    .about {
        padding-top: 40px;
        padding-bottom: 56px;
    }

    .about .about-left {
        background-position: 0px 0px;
        display: flex;
        justify-content: center;
    }

    .about .about-left .about-part-shape {
        left: 10px;
        width: 80%;
    }

    .about .about-right {
        padding-left: 0px;
        padding-top: 63px;
    }

    .title {
        text-align: center;
        font-size: 18px;
    }

    .title-info {
        font-size: 25px;
        line-height: 30px;
    }

    .about .about-right p {
        font-size: 17px;
        margin-bottom: 17px;
    }

    .about .about-right ul li {
        font-size: 17px;
        margin-bottom: 9px;
    }

    .about .about-right .about-btn {
        font-size: 16px;
        padding: 10px 20px;
    }


/* =======================================================
                        2.about end
========================================================== */



/* =======================================================
                        4.service start
========================================================== */

    .service {
        padding: 48px 0;
        padding-bottom: 33px;
    }

    .service .title-info {
        width: auto;
    }
    .service p.service-shorts {
        font-size: 17px;
        margin-bottom: 0;
    }
    .mt-5 {
        margin-top: 2rem !important;
    }
    .service .service-item {
        background: #fff;
        border-radius: 5px;
        padding: 30px 24px;
        text-align: center;
        border-bottom: 5px solid transparent;
        transition: .4s;
    }

    .service .service-item h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: #30344E;
        margin-bottom: 10px;
    }

    .service .service-item .image1 {
        margin-bottom: 15px;
        position: relative;
    }

    .service .service-item {
        margin-bottom: 15px;
    }

/* =======================================================
                        4.service end
========================================================== */





/* =======================================================
                        5.investment start
========================================================== */

    .investment {
        padding: 45px 0;
    }

    .investment .investment-left h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
        width: auto;
    }

    .investment .investment-left p {
        font-size: 17px;
        width: auto;
        margin-bottom: 20px;
    }

    .investment .investment-left .investment-btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-bottom: 35px;
    }

    .investment .investment-left .investment-info-box .investment-info1{
        margin-bottom: 25px;
    }

    .investment .investment-left .investment-info-box .investment-info1 h4, .investment .investment-left .investment-info-box .investment-info2 h4 {
        margin-bottom: 5px;
    }

    .investment .investment-right {
        padding-top: 25px;
    }

/* =======================================================
                        5.investment end
========================================================== */




/* =======================================================
                        6.team start
========================================================== */

    .team .team-title {
        padding-top: 45px;
        padding-bottom: 115px;
    }

    .team .team-member-profile {
        left: 0;
        width: 100%;
        top: 143px;
    }

    .team .team-title {
        z-index: -2;
    }

    .team .team-title img{
        z-index: -1;
        width: 35%;
    }

    .team .team-title .title {
        font-size: 18px;
    }

    .team .team-title .title-info {
        font-size: 25px;
    }

    .team .team-item .team-member-info .member-contact ul li .drop {
        visibility: visible;
        opacity: 1;
    }

    .team .team-item {
        margin-bottom: 20px;
    }



/* =======================================================
                        6.team end
========================================================== */





/* =======================================================
                        7.investing start
========================================================== */

    .investing {
        margin-top: 1325px;
        margin-bottom: 35px;
    }

    .investing .investing-right .investing-title {
        font-size: 25px;
        line-height: 30px;
        margin-top: 30px;
    }

    .accordion-button {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 14px;
    }

    .accordion-item {
        margin-bottom: 7px;
    }

/* =======================================================
                        7.investing end
========================================================== */





/* =======================================================
                        8.counter start
========================================================== */

    .counter {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .counter .counter-shape1 {
        width: 17%;
    }

    .counter .counter-shape2 {
        width: 47%;
    }

    .counter .counter-left .counter-left-title {
        font-size: 22px;
        line-height: 30px;
        width: auto;
        margin-bottom: 15px;
    }

    .counter .counter-left .counter-left-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .counter-right-top {
        margin-top: 30px;
        margin-bottom: 26px !important;
    }

    .counter-right-item {
        text-align: center;
    }

    .counter .counter-right-top .counter-right-item .counter-right-item-title {
        margin-bottom: 0px;
    }

    .counter-right-bottom-item {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }

/* =======================================================
                        8.counter end
========================================================== */







/* =======================================================
                        9.customer start
========================================================== */

    .customer {
        padding: 36px 0;
        background: #FAFAFA;
    }

    .customer .customer-title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 21px;
    }

    .customer .customer-left {
        padding: 17px 22px;
        border-radius: 10px;
    }

    .customer .customer-left .customer-review {
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 17px;
    }

    .customer-detaile {
        width: 100%;
    }

    .customer .customer-left .customer-info .customer-profile .customer-detaile h6 {
        font-size: 20px;
        text-align: center;
    }

    .customer .customer-left .customer-info .customer-profile .customer-detaile p {
        font-size: 15px;
        text-align: center;
    }

    .customer-rating {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .customer-img {
        display: flex;
        justify-content: center;
    }

/* =======================================================
                        9.customer end
========================================================== */






/* =======================================================
                        10.blog start
========================================================== */

    .blog {
        padding: 36px 0;
    }

    .blog .title {
        font-size: 18px;
    }

    .blog .title-info {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .blog .blog-item p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .blog .blog-item .blog-author .author-img img {
        width: 20%;
    }

    .blog-item {
        margin-bottom: 53px;
    }

    .blog-item-3 {
        margin-bottom: 0px;
    }

    .footer {
        padding-top: 40px;
    }

/* =======================================================
                        10.blog end
========================================================== */




}


@media (min-width:320px) and (max-width:575.99px) {

}


@media (min-width:576px) and (max-width:767.99px) {

}


@media (min-width:768px) and (max-width:991.99px) {

}


@media (min-width:992px) and (max-width:1199.99px) {

}